/* tag selectors */
body {
    margin: 0;
}
*{
    margin: 0;
}

/* header style */

header {
    height: 200px;
    background-color: #00bfff;
    background-image: url('../img/pattern.png');
    position: relative;
    padding: 5px;
}
header img {
    width: 250px;
    position:absolute;
    bottom: 0;
}

/* main style */

main{
    padding: 5px;
}

main img{
    height: 650px;
    width: 47%;
}

h1{
    font-size: 65px;
    margin: 0;
    margin-top: 20px;
}
h3, h6{
    margin: 0;
    color: #808080;
}

h6 {
    margin-bottom: 20px;
}

figure {
    margin: 5px;
}
ul {
    padding-left: 15px;
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
}

th {
    text-align: left;
    background-color: #00bfff;
    color: #fff;
}
.bg-blue {
    background-color: #00ffff;
}

footer {
    padding: 5px;
}



/* end tag selectors */

/* class style */

.blue-text {
    color:#00bfff;
}
.top-bottom-margin{
    margin: 20px 0;;
}
.text-center-spacing{
    text-align: center;
    width: 20%;
}
.img-footer {
    width: 350px;
    height: 300px;
    margin: 10px 0;
    padding-top: 25px;
    padding-left: 25px;
    color: #fff;
    font-size: 25px;
    background-position: center;
    background-size: cover;
}
.img-1 {
    background-image: url('../img/monitor.jpg');
}
.img-2 {
    background-image: url('../img/graph.jpg');
}